#chart-container {
	width: 500px;
	height: 500px;
}

#results {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h2 {
	text-align: center;
}

tbody tr:hover {
	background-color: rgba(0, 0, 0, 0.5);
	transition: background-color 0.3s ease-in-out;
}
table, th, td {
	border-collapse: collapse;
	padding: 12px;
}
